.body{
    background: linear-gradient(to right , rgba(238, 19, 103, 0.753),rgba(0, 255, 255, 0.61));
}
.grid {
    width: 800px;
    display: grid;
    margin-top: 60px;
    margin-left: 270px;
    grid-template-columns: 300px 500px;
    grid-template-rows: repeat(1, 500px);
    background-color: whitesmoke;
}
.box {
    margin: 5px;
}

#a{
    border-radius: 1%;
    background-color: rgba(127, 255, 212, 0.281);
}

.head{
    margin-left: 13px;
    color: darkcyan;
}

.div2{
    margin-top: 25px;
}

.tagline{
    padding-left: 10px;
    font-size: 38px;
}

.div3{
    margin-top: 10px;
}

.div4{
    margin-top: 46px;
    background-color: rgba(127, 255, 212, 0.5);
    margin-left: 5px;
    margin-right: 5px;

}

.bhead{
    margin-left: 10px;
}

.phead{
    margin-left: 10px;
}

.link{
    text-decoration: none;
    color: red;
}

.username{
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
}

.userbox{
    margin-left: 10px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 18px;
    padding-left: 5px;
    margin-bottom: 8px;
}

.Password{
    font-weight: bolder;
    font-size: 18px;
    margin-left: 10px;
}

.passbox{
    margin-left: 10px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 18px;
    padding-left: 5px;
    margin-bottom: 18px;
}

.submit{
    text-decoration: none;
    text-align: center;
    padding: 6px 25px 6px 25px;
    background-color: rgb(85, 85, 236);
    color: white;
    margin-left: 60px;
    border-radius: 5px;
    border-color: white;
}

.OR{
    margin-top: 8px;
    margin-left: 200px;
}

.pre{
    margin-left: 70px;
}

.google{
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: rgb(119, 119, 175);
    font-weight: bolder;
    padding: 10px 25px 10px 25px;
}

.facebook{
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: blue;
    font-weight: bolder;
    padding: 10px 25px 10px 25px;
}